.hidden-face-root-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;
}

.hidden-face-root-container>* {
  z-index: 1;
}

.blur-img {
  filter: blur(15px);
  border: solid blue;
}

.player-img-container {
  margin-top: 8rem;
  height: 25rem;
  aspect-ratio: 1/1;
  box-shadow: 10px 10px 1px black;
}

.career-input-container input {
  margin-top: -25px;
  border-radius: 10px;
  width: 40%;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}

.guessed-profile-container {
  width: 40%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}