@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

.body {
  min-height: 100vh;
  font-weight: 400;
}

.body::-webkit-scrollbar {
  display: none;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(#113c8b, #3279fd);
  z-index: -1;
}

.header {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 5rem;
  color: #eee;
}

.home-logo {
  font-family: "Archivo Black", sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 6rem;
  line-height: 1;
  margin-bottom: 0.7em;
  max-width: max-content;
  animation: slideInFromBottom 0.7s ease-out forwards;
  animation-delay: 0.7s;
  visibility: hidden;
  transition: all 0.2s ease;
  font-weight: bold;
}

.home-logo:hover {
  color: transparent;
  cursor: pointer;
  transition-duration: 0.2s;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #eee;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  font-size: 1.8rem;
  margin-bottom: 0.7em;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.left {
  animation: slideInFromLeft 0.5s ease-out forwards;
  animation-delay: 1s;
  visibility: hidden;
}

.right {
  animation: slideInFromRight 0.5s ease-out forwards;
  animation-delay: 1s;
  visibility: hidden;
}

.link {
  transition-duration: 0.3s;
}

.link:hover {
  transform: scale(0.9);
  cursor: pointer;
}

.copy {
  font-size: 1.1rem;
  color: #aaa;
  animation: slideInFromBottom 0.7s ease-out forwards;
  animation-delay: 1s;
  visibility: hidden;
}

.stage {
  /* padding: 5vw 5vw calc(7.5vw + 67px) 0; */
  padding: 2rem;
}

.games-list {
  position: relative;
  margin: 0;
  padding-left: 0;
  list-style: none;
  text-align: right;
  width: 95%;
  font-family: "Archivo Black", sans-serif;
  font-weight: bold;
  perspective: 1500px;
  animation: slideInFromTop 1.2s ease-out;
  /* transform-style: preserve-3d; */
}

.games {
  font-size: 23rem;
  font-weight: bold;
  color: #02060e;
  line-height: 1;
  text-transform: uppercase;
  transition-duration: 0.4s;
  transform-origin: right;
  transform: rotateY(-35deg);
}

.games:hover {
  color: transparent;
  cursor: pointer;
  transform: rotateY(-33deg) translateZ(0) scale(1.1);
  transition-duration: 0.4s;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: black;
}

.game-link {
  text-decoration: none;
  color: #02060e;
  transition-duration: 0.4s;
}

.game-link:hover {
  color: transparent;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: black;
}

@keyframes slideInFromTop {
  0% {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateY(-100%) scale(0.5, 1.5);
    opacity: 0.5;
  }
  100% {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateY(0) scale(1, 1);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  0% {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateY(100%) scale(0.5, 1.5);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateY(0) scale(1, 1);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slideInFromLeft {
  0% {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateX(-100%) scale(0.5, 1.5);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateX(0) scale(1, 1);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slideInFromRight {
  0% {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateX(200%) scale(0.5, 1.5);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateX(0) scale(1, 1);
    opacity: 1;
    visibility: visible;
  }
}
