.found-modal {
  position: absolute;

  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  padding: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  text-shadow: 1px 1px 1px black;
  font-family: "Questrial";
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  background: linear-gradient(to right, #080f70, #1c3ed6);
  color: #f1f6f5;
  box-shadow: 0.1rem 0.1rem 0.5rem black;
}

.found-letters-flex {
  display: flex;
  gap: 1rem;
  font-size: 2.6rem;
  justify-content: center;
  color: rgb(204, 204, 62);
  color: #1ba98c;
}
