.blur-screen-text {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(
    to right,
    rgba(240, 255, 255, 0.359),
    #ffffff37,
    rgba(240, 255, 255, 0.299)
  );
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
}
