.career-detail-box {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: #010125;
  font-size: 1.2rem;
}

/* @media only screen and (min-width: 600px) {
  .career-detail-box {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 600px) {
  .career-detail-box {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 1100px) {
  .career-detail-box {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 81.25em) {
  .career-detail-box {
    font-size: 0.7rem;
  }
} */

.career-detail-title {
  color: rgb(192, 192, 192);
}

.career-detail-infoindex {
  font-size: 1.6rem;
  color: white;
  text-transform: uppercase;
}

/* @media only screen and (min-width: 720px) {
  .career-detail-infoindex {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 81.25em) {
  .career-detail-infoindex {
    font-size: 1rem;
  }
} */
