@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,300&display=swap");

.search-alternative {
  display: flex;
  height: 10rem;
  width: 100%;
  justify-content: space-between;
  background-color: #cde4fa;
  font-family: "Poppins";
  text-transform: uppercase;

  border-radius: 3px;
  padding: 0 2rem;
  align-items: center;
  color: rgba(1, 1, 37);
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.2s;
}

.search-alternative:hover {
  background-color: #b9cde1;
  scale: 1.1;
}

.search-alternative:active {
  scale: 1;
}

@media only screen and (min-width: 600px) {
  .search-alternative {
    height: 7rem;
    width: 70%;
  }
}

@media only screen and (min-width: 720px) {
  .search-alternative {
    height: 6rem;
    width: 60%;
  }
}

@media only screen and (min-width: 1100px) {
  .search-alternative {
    height: 5rem;
    width: 40%;
    padding: 0 1rem;
  }
}

@media only screen and (min-width: 1300px) {
  .search-alternative {
    height: 5rem;
    width: 40%;
  }
}

.search-picture {
  position: relative;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.search-img {
  border-radius: 50%;
}

.search-name {
  text-shadow: 0.4px, 0.4px, 0.1px white;
}

@media only screen and (max-width: 600px) {
  .search-name {
    font-size: 2.4rem;
  }
}
