.search-alternative {
  display: flex;
  height: 10rem;
  width: 100%;
  justify-content: space-between;
  /* background-color: #3a78f9; */
  background-image: linear-gradient(to right, #0a0019, #5c00e6);
  border-radius: 3px;
  padding: 0 2rem;
  align-items: center;
  color: rgb(246, 236, 224);
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.2s;
}

.search-alternative:hover {
  background-image: linear-gradient(to right, #6600ff, #a366ff);
  scale: 1.2;
}

.search-alternative:active {
  scale: 1;
}

@media only screen and (min-width: 600px) {
  .search-alternative {
    height: 7rem;
    width: 70%;
  }
}

@media only screen and (min-width: 720px) {
  .search-alternative {
    height: 6rem;
    width: 60%;
  }
}

@media only screen and (min-width: 1100px) {
  .search-alternative {
    height: 5rem;
    width: 40%;
    padding: 0 1rem;
  }
}

@media only screen and (min-width: 1300px) {
  .search-alternative {
    height: 5rem;
    width: 40%;
  }
}

.search-picture {
  position: relative;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.search-img {
  border-radius: 50%;
}

.search-name {
  text-shadow: 0.4px, 0.4px, 0.1px white;
}
